@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("/path/to/styles/vs.css"); ? 이거머임 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style-type: circle;
}

/* 테일윈드에 className에  css이름을 작명해주고 여기다 쓰면됨*/
.commentScrollBar {
  overflow-y: scroll;
}
/* 스크롤바 넓이 조정 */
.commentScrollBar::-webkit-scrollbar {
  width: 7px;
}
/* 스크롤바 잡는부분 색상 */
.commentScrollBar::-webkit-scrollbar-thumb {
  background-color: #a29bfe;
  border-radius: 10px;
}
/* 스크롤바 남는부분 색상 */
.commentScrollBar::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
}

.NavScrollBar {
  overflow-y: scroll;
}
.NavScrollBar::-webkit-scrollbar {
  width: 7px;
}
.NavScrollBar::-webkit-scrollbar-thumb {
  background-color: #a29bfe;
  border-radius: 10px;
}
.NavScrollBar::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
}

.markdown h1 {
  font-size: 40px;
  margin: 16px;
}
.markdown h2 {
  font-size: 32px;
  margin: 16px;
}
.markdown h3 {
  font-size: 24px;
  margin: 16px;
}
.markdown h4 {
  font-size: 18px;
  margin: 16px;
}
.markdown blockquote {
  background-color: #dfe6e9;
  padding: 8px 8px 8px 10px;
  border-left: 5px solid #a29bfe;
  margin: 16px 0px;
  width: 100%;
  color: black;
}

.markdown img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown a {
  color: #7bfca2;
  font-weight: bold;
}
.markdown a:hover {
  color: #7bfc7b;
  font-weight: bold;
  text-decoration: underline;
}

.markdown p {
  margin: 5px 0px;
  line-height: 1.5;
}

.loader {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 프로필 모양 svg */
.custom-shape-divider-bottom-1695356156 {
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1695356156 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1695356156 .shape-fill {
  fill: #ffffff;
}

/* 카드 색상 */
.GradientBox {
  background: rgb(233, 213, 255);
  background: linear-gradient(
    108deg,
    rgba(233, 213, 255, 1) 10%,
    rgba(180, 193, 241, 1) 10%,
    rgba(180, 193, 241, 1) 90%,
    rgba(233, 213, 255, 1) 90%
  );
}

/* 대형 카드 */
.bg {
  background-image: url("https://myblog6779.s3.ap-northeast-2.amazonaws.com/layered-waves-haikei.svg");
  background-position: center center;
}

/* 그리드 연습 */
.NavGrid {
  display: grid;
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 10px 0px;
  grid-template-columns: 1fr 2fr 6fr 1fr;
  grid-template-rows: 70px auto;
  grid-template-areas:
    "a nav nav b"
    "a cate post b";
}
.a {
  grid-area: a;
}
.b {
  grid-area: b;
}

.nav {
  grid-area: nav;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;

  height: 70px;
  width: 80%;
  z-index: 1;
}

.cate {
  grid-area: cate;
  position: fixed;
  left: 10%;
  top: 70px;
  width: 20%;
}
.post {
  grid-area: post;
}

/* 홈 그리드 */

.HomeGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 5fr;
  grid-template-areas:
    "HomeA HomeA"
    "HomeB HomeC"
    "HomeD HomeD";
}

.HomeA {
  grid-area: HomeA;
}
.HomeB {
  grid-area: HomeB;
}
.HomeC {
  grid-area: HomeC;
}
.HomeD {
  grid-area: HomeD;
}

/* 날씨 그리드 */

.WeatherGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "WeatherA WeatherA"
    "WeatherB WeatherC"
    "WeatherD WeatherD";
}

.WeatherA {
  grid-area: WeatherA;
}
.WeatherB {
  grid-area: WeatherB;
}
.WeatherC {
  grid-area: WeatherC;
}
.WeatherD {
  grid-area: WeatherD;
}

/* 달력 그리드 */

.CalenderGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 72%;
  gap: 3px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.CalenderGrid div:nth-child(7n) {
  color: blue;
}
.CalenderGrid div:nth-child(7n + 1) {
  color: red;
}

.DaysGrid {
  height: 10%;
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 15px;
}

.DaysGrid :first-child {
  color: red;
}
.DaysGrid :last-child {
  color: blue;
}

.DaysCss {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 93%;
  font-size: 20px;
  border-radius: 10px;
}

.PrevDays {
  opacity: 0.4;
}
.NextDays {
  opacity: 0.4;
}
.ArrwBtn {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
}
.DArrwBtn {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 2px;
}
